[Unit]
Description=etcd key-value store
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User={{ etcd_user }}
Group={{ etcd_group }}

ExecStart={{ etcd_bin_dir }}/etcd --config-file={{ etcd_conf_file }}
Restart=on-failure
RestartSec=2
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

