[Unit]
Description=Runners to orchestrate a high-availability PostgreSQL
After=syslog.target network.target etcd.service

[Service]
Type=simple
User=postgres
Group=postgres

# 실행 명령어
ExecStart=/usr/local/bin/patroni /etc/patroni/patroni.yml

# 프로세스 종료 시 자동 재시작
Restart=no

[Install]
WantedBy=multi-user.target
