---
- name: "firewalld 패키지 설치"
  ansible.builtin.dnf:
    name: firewalld
    state: present

- name: "firewalld 서비스 시작/활성화"
  ansible.builtin.systemd:
    name: firewalld
    state: started
    enabled: true

- name: "HAProxy 설치"
  ansible.builtin.dnf:
    name: haproxy
    state: present

- name: "HAProxy 설정 배포"
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    mode: "0644"
  notify: "haproxy 재시작"

- name: "방화벽 오픈(DB 접속 5432)"
  ansible.builtin.firewalld:
    port: "{{ haproxy_listen_port }}/tcp"
    permanent: true
    state: enabled
    immediate: true

- name: "HAProxy 시작/활성화"
  ansible.builtin.systemd:
    name: haproxy
    state: started
    enabled: true

