---
# -----------------------------------------------------------------------
# 1. Load Balancer Cleanup (HAProxy + Keepalived)
# -----------------------------------------------------------------------
- name: Cleanup Load Balancers
  hosts: loadbalancers
  become: yes
  tasks:
    - name: Stop Services
      service:
        name: "{{ item }}"
        state: stopped
        enabled: no
      loop:
        - haproxy
        - keepalived
      ignore_errors: yes

    - name: Remove Packages
      dnf:
        name:
          - haproxy
          - keepalived
        state: absent

    - name: Remove Configuration Directories
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - /etc/haproxy
        - /etc/keepalived
