---
# Web Role - Step 1: Nginx 설치 및 설정

- name: Install Nginx
  dnf:
    name: nginx
    state: present

- name: Deploy Nginx Configuration
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/conf.d/cmp.conf
    mode: '0644'
  notify: Restart Nginx

- name: Remove default Nginx config
  file:
    path: /etc/nginx/conf.d/default.conf
    state: absent
  ignore_errors: yes

- name: Start and Enable Nginx
  service:
    name: nginx
    state: started
    enabled: yes
