---
- name: restart firewalld
  service:
    name: firewalld
    state: reloaded

- name: restart prometheus
  service:
    name: prometheus
    state: restarted
    enabled: true

- name: restart grafana
  service:
    name: grafana-server
    state: restarted
    enabled: true

- name: restart loki
  service:
    name: loki
    state: restarted
    enabled: true

- name: restart promtail
  service:
    name: promtail
    state: restarted
    enabled: true

- name: restart node_exporter
  service:
    name: node_exporter
    state: restarted
    enabled: true
