# /etc/chrony.conf (NTP Client)

driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync

logdir /var/log/chrony

# 내부 NTP 서버로 동기화
server {{ ntp_server_ip }} iburst

cmdallow 127.0.0.1
keyfile /etc/chrony.keys
leapsectz right/UTC

