---
# -----------------------------------------------------------------
# 0. DCS 노드 판별 (이름에 'dcs'가 있으면 DB 설치 대상 아님)
# -----------------------------------------------------------------
- name: Check if node is DB node
  set_fact:
    is_db_node: "{{ 'dcs' not in inventory_hostname }}"

# -----------------------------------------------------------------
# 1. 리포지토리 설정 (DB 노드만)
# -----------------------------------------------------------------
- name: Enable CRB & Install EPEL
  block:
    - command: dnf config-manager --set-enabled crb
      ignore_errors: yes
    - dnf: name=epel-release state=present
    - command: dnf clean all
      changed_when: false
  when: is_db_node

- name: Install PostgreSQL RPM Repository
  dnf:
    name: "https://download.postgresql.org/pub/repos/yum/reporpms/EL-{{ ansible_distribution_major_version }}-x86_64/pgdg-redhat-repo-latest.noarch.rpm"
    state: present
    disable_gpg_check: yes
  when: is_db_node

- name: Disable default PostgreSQL module
  command: dnf -qy module disable postgresql
  changed_when: false
  ignore_errors: yes
  when: is_db_node

# -----------------------------------------------------------------
# 2. 패키지 설치 (DB 노드만)
# -----------------------------------------------------------------
- name: Install PostgreSQL & Dependencies
  shell: |
    dnf install -y postgresql{{ pg_version }}-server \
    postgresql{{ pg_version }}-contrib \
    postgresql{{ pg_version }}-devel \
    python3-pip python3-devel gcc watchdog \
    --nogpgcheck
  register: dnf_result
  changed_when: "'Nothing to do' not in dnf_result.stdout"
  when: is_db_node

# -----------------------------------------------------------------
# 3. [Path 해결] 심볼릭 링크 -> /usr/bin (DB 노드만)
# -----------------------------------------------------------------
- name: Symlink PostgreSQL binaries to /usr/bin
  file:
    src: "/usr/pgsql-{{ pg_version }}/bin/{{ item }}"
    dest: "/usr/bin/{{ item }}"
    state: link
    force: yes
  loop:
    - postgres
    - pg_ctl
    - initdb
    - pg_basebackup
    - psql
    - pg_config  # ★ pip 설치 성공의 열쇠
  when: is_db_node

# -----------------------------------------------------------------
# 4. [v3 해결] Patroni 설치 (DB 노드만)
# -----------------------------------------------------------------
- name: Upgrade pip build tools
  pip:
    name: [pip, setuptools, wheel]
    state: latest
    executable: pip3
  when: is_db_node

- name: Install Patroni via PIP (v3 support)
  pip:
    name:
      - "psycopg2==2.9.9"
    # - "patroni[etcd3]"  # ★ 중요: etcd3 사용 -> setuptools 70 이슈로 실패할 수 있음
      - "patroni[etcd3]"
    executable: pip3
  environment:
    PATH: "/usr/pgsql-{{ pg_version }}/bin:{{ ansible_env.PATH }}"
  when: is_db_node

# -----------------------------------------------------------------
# 5. 설정 및 서비스 (DB 노드만)
# -----------------------------------------------------------------
- name: Enable Watchdog service
  service: name=watchdog state=started enabled=yes
  when: is_db_node

- name: Disable default systemd postgresql service
  service:
    name: "postgresql-{{ pg_version }}"
    state: stopped
    enabled: no
  ignore_errors: yes
  when: is_db_node

- name: Create Patroni Config Directory
  file: path=/etc/patroni state=directory
  when: is_db_node

- name: Deploy Patroni Config
  template:
    src: patroni.yml.j2
    dest: /etc/patroni/patroni.yml
  when: is_db_node
  notify: Restart Patroni

- name: Deploy Patroni Service Unit
  template:
    src: patroni.service.j2
    dest: /etc/systemd/system/patroni.service
  when: is_db_node
  notify: Restart Patroni

- name: Start Patroni Service
  service:
    name: patroni
    state: started
    enabled: yes
  when: is_db_node
